/* цвет вторичного текста #212121;*/
/* цвет основного текста #757575; */
/* цвет акцент #2196F3; */
/* Черный #000000 */
/* Белый #FFFFFF; */
/* контакты в подвале rgba(255, 255, 255, 0.6); */
/* основной цвет фона #E5E5E5; */
/* вторичный цвет фона #F5F4FA;*/
/* цвет фона подвала и банера #2F303A; */

body {
  color: #757575;
  background-color: #e5e5e5;
}

.comands {
  background-color: #f5f4fa;
}
